{% extends 'notes/base.html' %}
{% block title %} Qnotes Login {% endblock title %}
{% load static %}

{% block main %}

<div class="flex_container" id="login-signup">
    <div style="float: left;" id="image-1a-div">
        <img id="image-1a" src="{% static 'img/pink_tree.png' %}" alt="image">
    </div>

    <div style="float: left; padding-top: 30px;" id="image-2a-div">
        <img id="image-2a" height="400px" width="300px" src="{% static 'img/tm2.png' %}" alt="image">
    </div>

    <!-- Login -->
    <div class="grid_center" id="login_box" style="padding: 10px;">
        <div id="login_box_shadow">
             <h1 id="login-head">
                Login
            </h1>


            {% if messages %}
                {% for mg in messages %}
                    <!-- <span id="login-error" class="grid_center"> <b>&bull; User or Password is not correct dghjbjhb.</b> </span> -->
                    <span id="login-error" class="grid_center"> <b>&bull; {{ mg }}</b> </span>
                    <script>
                        error_message = "{{ mg }}";
                        em1 = 'User with this Username already exists.';
                        em2 = 'This Email ID is already registered.';
                        err1 = error_message.search(em1);
                        err2 = error_message.search(em2);

                        if ( err1 != -1 ) {
                            alert(em1);
                            // $("#signup_box_shadow").show();
                            // $('#login_box_shadow').hide();
                        }
                        else if ( err2 != -1 ) {
                            alert(em2);
                            // $('#signup_box_shadow').slideDown();
                            // $('#login_box_shadow').hide();
                            // $("#signup_box_shadow").show();
                        }
                        // alert(error_message);
                    </script>
                {% endfor %}
            {% endif %}

            <hr class="my-4" style="color: black;">

            <!-- <div>                 -->
                <form action="" method="POST" style="padding: 20px;" id="login_form">
                    {% csrf_token %}
                    <div class="input-container">
                        <input type="text" name="username" id="usr" required=""/>
                        <label for="usr" style="color: black;"> <i class="far fa-user"></i> <b>Username:</b> </label>
                    </div>

                    <br>
                    <div class="input-container">
                        <input type="password" name="password" id="pwd" required=""/>
                        <label for="pwd" style="color: black;"> <i class="fas fa-lock"></i> <b>Password:</b> </label>
                    </div>


                    <div class="grid_center">
                        <input type="submit" value="Log In" class="btn" id="login-btn">
                    </div>

                    <!-- <div class="grid_center">
                        <a href="#" style="color: blue; font-weight: 600; padding-top: 20px;">
                            Forgot Password?
                        </a>
                    </div> -->

                    <div>
                        <a href="#" class="grid_center" style="color: blue; font-weight: 600; padding-top: 20px;" data-toggle="modal" data-target="#staticBackdrop">
                            Forgot Password?
                        </a>
                    </div>

                </form>
        </div>








        <!-- Sign Up -->
        <div id="signup_box_shadow">
            <h1 id="signup-head">
            SignUp
        </h1>

        <hr class="my-4" style="color: black;">

            <div>
                <form action="" method="POST" style="padding: 10px;" id="signup_form">
                    {% csrf_token %}
                    <div class="input-container">
                        <input type="text" name="username2" id="usr2" required=""/>
                        <label for="usr2" style="color: black;"> <i class="fas fa-user"></i> <b>Username:</b> </label>
                    </div>

                    <!-- input with [type='email'] is not working properly so we changed it to type-text as below -->
                    <!-- <div class="input-container">
                        <input type="email" name="email2" id="em2" required=""/>
                        <label for="em2" style="color: black;"> <i class="fas fa-lock"></i> <b>Email:</b> </label>
                    </div> -->

                    <div class="input-container">
                        <input type="text" name="email2" id="em2" required=""/>
                        <label for="em2" style="color: black;"> <i class="fas fa-envelope"></i> <b>Email:</b> </label>
                    </div>

                    <div class="input-container">
                        <input type="password" name="password1" id="pwd1" required=""/>
                        <label for="pwd1" style="color: black;"> <i class="fas fa-lock"></i> <b>Password:</b> </label>
                    </div>

                    <div class="input-container">
                        <input type="password" name="password2" id="pwd2" required=""/>
                        <label for="pwd2" style="color: black;"> <span id="cpass"><i class="fas fa-shield-alt"></i></span> <b>Confirm Password:</b> </label>
                    </div>


                    <div class="grid_center" style="margin-bottom: 10px;">
                        <!-- <input type="submit" value="Join Us" class="btn" id="signup-btn" onclick="pass_check()" title="Sign-Up"> -->
                        <button type="button" class="btn" id="signup-btn" onclick="pass_check()" title="Sign-Up"> Join Us </button>
                    </div>
                </form>
            </div>
        </div>




        <br><br>
        <div class="grid_center" id="login_footer">
            <b> <p> Don't Have An Account. <i class="far fa-laugh-beam"></i> Create One Today! </p> </b>
            <!-- <b> <p> Go To <a href="#" id="signup_btn" style="color: blue;">Sign Up</a>. </p> </b> -->
            <b>
                <!-- <span style="color: blue; width: 50%; padding-right: 50px;"> Forgot Password? </span> -->
                <span> Go To <a href="#" id="signup_btn" style="color: blue; width: 50%;">Sign Up</a>. </span>
            </b>
        </div>

        <div class="grid_center" id="signup_footer">
            <b> <p> Already Have An Account. <i class="far fa-laugh-beam"></i> Log In Today! </p> </b>
            <b> <p> Go To <a href="#" id="login_btn" style="color: blue;">Login</a>. </p> </b>
        </div>

    </div>

    <div style="float: left;" id="image-1b-div">
        <img id="image-1b" src="{% static 'img/pink_tree.png' %}" alt="image">
    </div>

    <div style="float: left; padding-top: 50px;" id="image-2b-div">
        <img id="image-2b" height="400px" width="300px" src="{% static 'img/jerry.png' %}" alt="image">
    </div>

</div>






        <!-- ##############   Forgot Password Modal   ############# -->

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
    Launch static backdrop modal
  </button> -->

  <!-- Modal -->
      <div class="modal fade" id="staticBackdrop" style="padding-top: 120px; background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <h3>Forgot Password?</h1>
            <div class="modal-content" style="background-image: linear-gradient(to right bottom, #0DE200 10%, white);">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel" style="font-weight: 500; font-size: 15px;">Please Provide Us The Email ID Associated Here With Your Account:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <!-- <span aria-hidden="true" style="color: red;">&times;</span> -->
                    <i class="far fa-times-circle" style="color: red;"></i>
                </button>
            </div>
            <div class="modal-body" style="background-color: black; color: white;">

                <!-- #####  Forgot Password Form  ######## -->

                <form action="" method="POST" id="forgot_password_form" class="grid_center" style="padding-top: 20px; padding-bottom: 30px;">
                    {% csrf_token %}
                    <div class="input-container" style="width: 250px;">
                        <input type="text" name="fpass_email" id="fpass" style="border-bottom: 2px solid #0DE200; color: white; width: 100%; padding-left: 5px; padding-right: 5px;" required=""/>
                        <label for="fpass" style="color: white;"> <i class="fas fa-user"></i> <b>Your Email:</b> </label>
                    </div>

                    <div class="grid_center">
                        <button type="button" class="btn btn-outline-warning" id="fpass_btn" style="font-weight: 500;" title="Recover Password"> Recover Password </button>
                    </div>
                </form>

            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> &nbsp;
                <button type="submit" class="btn btn-primary" onsubmit="submit_profile_form()"> Ready To Submit </button>
            </div> -->
        </div>
        </div>
    </div>



{% endblock main %}

