{% extends 'notes/base.html' %}

{% block title %} Change Password {% endblock title %}

{% block main %}


{% if request.session.otp_code %}

    <!--  #########   OTP Change Password Form   ######### -->

    <div class="grid_center" id="change_pass_box" style="padding: 20px;">
        <div id="change_pass_box_shadow">
            <h1 id="otp-head">
                Change Password
            </h1>

            {% if messages %}
                {% for message in messages %}
                    <span class="grid_center" style="color: white;"> &bull;{{ message }} </span>
                {% endfor %}
            {% endif %}

            <hr class="my-4" style="color: black;">

            <form action="" method="POST" style="padding: 20px;" id="otp_change_pass_form">
                {% csrf_token %}
                <div class="input-container">
                    <input type="text" name="oemail" id="oem" required=""/>
                    <label for="oem" style="color: black;"> <i class="far fa-user"></i> <b class="change_pass_label">Your E-mail ID:</b> </label>
                </div>

                <br>
                <div class="input-container">
                    <input type="text" name="scode" id="code" required=""/>
                    <label for="code" style="color: black;"> <i class="far fa-user"></i> <b class="change_pass_label">Your 12-Digit OTP:</b> </label>
                </div>

                <br>
                <div class="input-container">
                    <input type="password" name="otp_pass1" id="opass1" required=""/>
                    <label for="opass1" style="color: black;"> <i class="fas fa-lock"></i> <b class="change_pass_label">Create New Password:</b> </label>
                </div>

                <br>
                <div class="input-container">
                    <input type="password" name="otp_pass2" id="opass2" required=""/>
                    <label for="opass2" style="color: black;"> <i class="fas fa-lock"></i> <b class="change_pass_label">Confirm New Password:</b> </label>
                </div>

                <div class="grid_center">
                    <!-- <input type="submit" value="Change Password" class="btn" id="otp_btn"> -->
                    <button type="button" class="btn" id="otp_btn" onclick="otp_pass_check()" style="background-color: blue;"> Change Password </button>
                </div>

            </form>
        </div>
    </div>



{% else %}

    <!--  #########   Non-OTP Change Password Form   ######### -->

    {% if user.is_authenticated %}
        <!-- Form -->

        <div class="grid_center" id="change_pass_box" style="padding: 20px;">
            <div id="change_pass_box_shadow">
                <h1 id="otp-head">
                    Change Password
                </h1>

                {% if messages %}
                    {% for message in messages %}
                        <span class="grid_center" style="color: white;"> &bull;{{ message }} </span>
                    {% endfor %}
                {% endif %}

                <hr class="my-4" style="color: black;">

                <form action="" method="POST" style="padding: 20px;" id="old_new_pass_form">
                    {% csrf_token %}
                    <div class="input-container">
                        <input type="password" name="old_pass" id="oldpass" required=""/>
                        <label for="oldpass" style="color: black;"> <i class="far fa-user"></i> <b class="change_pass_label">Enter Old Password:</b> </label>
                    </div>

                    <br>
                    <div class="input-container">
                        <input type="password" name="new_pass1" id="newpass1" required=""/>
                        <label for="newpass1" style="color: black;"> <i class="fas fa-lock"></i> <b class="change_pass_label">Create New Password:</b> </label>
                    </div>

                    <br>
                    <div class="input-container">
                        <input type="password" name="new_pass2" id="newpass2" required=""/>
                        <label for="newpass2" style="color: black;"> <i class="fas fa-lock"></i> <b class="change_pass_label">Confirm New Password:</b> </label>
                    </div>

                    <div class="grid_center">
                        <!-- <input type="submit" value="Change Password" class="btn" id="new_pass_btn"> -->
                        <button type="button" class="btn" id="old_btn" onclick="old_pass_check()" style="background-color: blue; color: white;"> Change Password </button>
                    </div>

                </form>
            </div>
        </div>


    {% else %}
        <div class="transform_center" id="forbidden-border">
            <span id="forbidden">403 Forbidden</span>
            <br>
            <small style="color: red; font-weight: 500;">You are not authorized to view this page at the moment !!</small>
        </div>
    {% endif %}


{% endif %}

{% endblock main %}

